# .easignore

# Ignore node_modules
node_modules/

# Ignore build outputs
build/
dist/
web-build/ # If you build web locally

# Ignore Expo specific files
.expo/
.expo-shared/

# Ignore Amplify specific files
amplify/#current-cloud-backend
amplify/.config/local-env-info.json
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation/
amplify/backend/.temp/
amplify/#current-cloud-backend.zip
# --- Add these lines ---

amplify_outputs.json
amplify_outputs.dev.json
amplify_outputs.main.json
# --- End additions ---


# Ignore other common files
*.log
*.tmp
*.swp
.DS_Store
.env* # Ignore .env, .env.development, .env.production etc.